.family-image {
    height: 400px;
    width: 400px;
    margin-left: 100px;
}

.AboutTag {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: white;
    font-size: 60px;
    border-bottom: 2px solid white;
    letter-spacing: 1.5px;
    font-weight: 600;
    width: 105px;
    margin-top: 40px;
    margin-bottom: 35px;
    margin-left: 100px;
}

.aboutBoxUp {
    display: flex;
    align-items: row;
}

.sergioParagraph {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    letter-spacing: 1.5px;
    margin-left: 35px;
    text-indent: 35px;
}

.pargraphFlow {
    height: 150px;
    width: 55%;
    margin-top: 100px;
}

.Icon {
    height: 50px;
    width: 150px;
}

.GitIcon2 {
    height: 30px;
    width: 30px;
}

.LinkedinIcon2 {
    height: 30px;
    width: 30px;
}

.Icon3 {
    width: 85px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 35px;
}

@media (max-width: 1220px) {
    .AboutTag {
        font-size: 60px;
        letter-spacing: 1px;
        line-height: 57px;
        margin-left: 37px;
        margin-top: 30px;
    }
    .family-image {
        height: 350px;
        width: 350px;
        margin-left: 33px;
    }
    .aboutBoxUp {
        display: flex;
        align-items: column;
    }
    .sergioParagraph {
        font-size: 24px;
        /* width: 300px; */
    }
    .Icon3 {
        margin-top: 35px;
        margin-left: 35px;
    }
    .pargraphFlow {
        width: 90%;
        padding-right: 50px;
    }
}

@media (max-width: 600px) {
    .AboutTag {
        font-size: 60px;
        letter-spacing: 1px;
        line-height: 57px;
        margin-left: 37px;
        margin-top: 30px;
    }
    .family-image {
        height: 300px;
        width: 300px;
        margin-left: 33px;
    }
    .aboutBoxUp {
        display: flex;
        align-items: column;

    }
    .sergioParagraph {
        font-size: 17px;
        margin-left: -300px;
        margin-top: 232px;
        /* width: 300px; */
    }
    .Icon3 {
        margin-top: 167.5px;
        margin-left: 35px;
    }
    .pargraphFlow {
        width: 10px;
    }
}

@media (max-width: 400px) {
    .AboutTag {
        font-size: 55px;
        letter-spacing: 1px;
        line-height: 57px;
        margin-left: 37px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .family-image {
        height: 230px;
        width: 230px;
        margin-left: 33px;
    }
    .aboutBoxUp {
        display: flex;
        align-items: column;
    }
    .sergioParagraph {
        font-size: 14px;
        margin-left: -250px;
        margin-top: 145px;
        /* width: 300px; */
        width: 330px;
        letter-spacing: normal;
    }
    .Icon3 {
        margin-top: 167.5px;
        margin-left: 35px;
    }
    .pargraphFlow {
        width: 10px;
    }
}

