.slider__container {
  border: 1px solid white;
  /* position: relative; */
  height: 400px;
  width: auto;
  box-sizing: border-box;
  overflow: hidden;
  background-color: black;
}

.slider__slide {
}

.image__edit {
  height: 400px;
}
